<!-- Video Link-->
<div class="form-group">
  <label for="video">Video Link</label><br>
  <input class="form-control" type="text" name="video" value="{{comments.video}}"/>
</div>


  <!-- Name-->
  <div class="form-group">
    <label for="name">Name</label><br>
    <input class="form-control" type="text" name="name" value="{{comments.name}}"/>
  </div>
  <!-- TITLE -->
  <div class="form-group">
    <label for="comment">Comment</label><br>
    <input class="form-control" type="text" name="comment" value="{{comments.comment}}"/>

  </div>
  <!-- BUTTON -->

    <button  class="btn btn-primary" type="submit">Save Comment</button>
  </p>
  <p>
    <button class="btn btn-primary" type="Cancel">Cancel</button>
  </p>
