<!-- Video Link-->
<div class="form-group">
  <label for="video">Video Link</label><br>
  <input class="form-control" type="text" name="video" value="{{comments.video}}"/>
</div>


  <!-- Name-->
  <div class="form-group">
    <label for="name">Name</label><br>
    <input class="form-control" type="text" name="name" value="{{comments.name}}"/>
  </div>
  <!-- TITLE -->
  <div class="form-group">
    <label for="comment">Description</label><br>
    <input class="form-control" type="text" name="comment" value="{{comments.description}}"/>

  </div>
  <!-- BUTTON -->

    <button  class="btn btn-default navbar-btn" type="submit">Upload Video</button>
  </p>
