<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Musiq Corner</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel='stylesheet' type='text/css' href='main.css' />
</head>
<body>
  <nav class="navbar navbar-inverse">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="/">
           Musiq Corner
         </a>
       </div>
       <div class="btn-group pull-right">
         <!--<div class="pull-right"> -->
           <a href="/about" class ="btn btn-default navbar-btn">About Us</a>
           <a href="/contact" class ="btn btn-default navbar-btn">Contact</a>
           <a href="/comments/new" class="btn btn-default navbar-btn">New Comment</a>
         </div>
       </div>
     </div>
   </nav>
   </div>
     {{{body}}}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</div>
</html>
