<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <legend>New Comment</legend>
    <form method="POST" action="/comments">
      {{> comments-form }}
    </form>
  </div>
</div>
<div style="position: relative; height: 100px; border: solid;">
  <div class="footer" style="  position: bottom;
  left: 0;
  bottom: 0;
  height:auto;
  width: auto;
  background-color: black;
  color: white;
  text-align: center;">
  <p>Musiq Corner &copy 2017 by Donovan Adams</p>
  </div>
</div>
