<!--LEAN CONTACT PAGE WITHOUT INPUTS FOR FORMS-->
<div class="container-fluid">
<div id="about" class="bg-1">

    <h1 class="text-center">Contact US</h1>
    <h3 class="text-center">Have questions, comments or concerns?<br><br> Drop a Note!<br> <br></h3>

    <div class="text-center">
      <h2><span class="glyphicon glyphicon-map-marker"></span>San Francisco, US</h2>
      <h2><span class="glyphicon glyphicon-phone"></span>Phone:(800)487-5293</h2>
      <h2><span class="glyphicon glyphicon-envelope"></span>Email: Donny@MusicCorner.com</h2>
    </div>

        </div>
      </div>
    </div>
  </div>
</div>
